* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9c1ad;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #ee9575;
    padding: 10px
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 10vh;
}

.menu_logo {
    height: 100%;
    margin-left: 30px;

}

.nav {
    float: right;
    padding: 5px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin: 30px;
}

.header {
    height: 100vh;
    background: url(img/00Page-Img_vedette-1200.jpg) center/cover no-repeat;
    position: relative;
    padding: 50px;
}

.header-content {
    width: 50%;
    height: 80%;
    float: left;
    margin-top: 100px;
    background-color: #ee95759d;
    color: #7a2642;
    padding: 15px;
}

.def {
    font-weight: 500;
    margin: 10px auto;
}

.header-title {
    font-size: 100px;
}

.header-subtitle {
    font-weight: 600;
    margin: 10px auto;
}

.header-content p {
    font-size: 15px;
    color: rgb(4, 29, 20);
    text-decoration: underline;
    margin: 130px auto;
}





.history {
    height: 300vh;
    width: 100%;
    padding: 50px;
}

.history_title {
    color: #7a2642;
    font-size: 60px;
    text-align: left;
    margin: 20px;
}

.history_content {
    width: 80%;
    background-color: #269a99;
    margin: 10px auto;
    border: #092727a9 solid 3px;
}

.history_item {
    height: 450px;
}

.history-year {
    width: 15%;
    float: left;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.history-text {
    width: 85%;
    float: right;
    height: 100%;
    border-bottom: #092727a9 solid 3px;
    border-left: #092727a9 solid 3px;
    color: #0a2225;
    padding: 20px;
    font-size: 25px;

}

.history-text p {
    background-color: #269a98a9;
    padding: 5px;
    font-weight: 600;
    height: 70%;
}

.date1 {
    background: url(img/1918-ConFemLedroitdevotedesfemmesauQuebecT.jpg)center/cover no-repeat;
}

.date2 {
    background: url(img/1977-GettyImages-499295003_master-web.jpg) center/cover no-repeat;
}

.date3 {
    background: url(img/1988-decrim-IVG.png) top/cover no-repeat;
}

.date4 {
    background: url(img/2012-pauline-marois-premiere-ministre-elections-2012-35697.jpg) top/cover no-repeat;
}



.problems {
    height: 315vh;
    width: 100%;
    padding: 50px;
}

.problems-title {
    color: #7a2642;
    font-size: 60px;
    text-align: left;
    margin: 20px;
}

.problems-content {
    width: 80%;
    background-color: #f8991d7d;
    margin: 10px auto;
    border: #f8981d solid 3px;
}

.problem {
    height: 600px;
    padding: 35px;
    margin: 30px;

}

.problem h3 {
    color: #f8981d;
    font-size: 30px;
    margin: 20px;

}

.problem a {
    text-decoration: none;
    color: white;
    background: #f8981d;
    padding: 20px;
    border-radius: 19px;
    float: right;
    margin-top: 40px;
    font-size: 20px;
}

.problem p {
    font-size: 23px;
    color: #003f63;
    margin: 20px;
    background: #f8981dbf;
    padding: 15px;
}


.pr1 {
    background: url(img/enjeux1-equite-salariale-2021.png) center/cover no-repeat;
}

.pr2 {
    background: url(img/enjeux2-avortement-etats-unis-89884.webp) center/cover no-repeat;
}

.pr3 {
    background: url(img/Visuel+-+Féminicides+-+état+des+lieux+de+la+situation+dans+le+monde.png) center/cover no-repeat;
}



.people {
    width: 100%;
    height: 150vh;
    padding: 50px;
}

.people-content {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.people-title {
    color: #7a2642;
    font-size: 60px;
    text-align: left;
    margin: 20px;
    margin-bottom: 40px;
}

.people-person {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #915751 solid 3px;
    border-radius: 10px;
    padding: 10px;
    height: 100vh;
    color: wheat;
    background: #f16d60;
    justify-content: space-between;
    margin: 0 20px;
}

.people-person img {
    width: 90%;
    border-radius: 10px;
    border: wheat solid 2px;
}
.person-bio{
    font-size: 20px;
    padding: 10px;
}
.person-name{
    font-size: 40px;
}